html {
  height:100%;
  width: 100%;
  background-color: #999;
  margin:0;
  padding:0;
}
body {
  height:100%;
  width: 100%;
  margin:0;
  padding:0;
}


#study-buddy--settings {
  text-align: center;
}

#study-buddy--questions {
  list-style-type: none;
  list-style-image: none;
  margin:0;
  padding:0;
  width:100%;
}

#study-buddy--questions li {
  width:100%;
}

#study-buddy--questions .wrapper {
  width:50%;
  display: inline-block;
}

#study-buddy--questions input {
  width:100%;
  font-size: 1.5em;
  padding:8px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#study-buddy--add-question {
}
#study-buddy--start {
  background-color:#333;
}

.button {
  max-width: 320px;
  background-color:#44c767;
  border-radius:28px;
  border:1px solid #18ab29;
  color:#fff;
  font-size:1.5em;
  padding:16px 32px;
  margin: 4px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  display: inline-block;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#study-buddy--app {
}
#study-buddy--app p {
  text-align: center;
  font-size: 400%;
}
#study-buddy--app p  a {
  text-decoration: none;
  color: #333;
  background-color: #999;
}
#study-buddy--app p  a.answer {
  color:#ccc;
}

#study-buddy--top-bar {
  height:50px;
  width:100%;
  position:relative;
  background-color: #222;
}

#study-buddy--status-bar {
  width:100%;
  height:25px;
  background-color: #444;
  left:0;
  color:#ccc;
  padding:10px 4px 2px;
  margin:0;
  text-align: center;
}

#study-buddy--app-name {
  color:#ccc;
  font-size:26px;
  margin:0;
  padding:10px 4px;
  text-transform: uppercase;
  font-family: "Courier New";
  letter-spacing: 2px;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .study-buddy--app-name {
    font-size:16px;
  }
}

.show {
  display:block;
}

.hide {
  display:none;
